{% extends "index.html" %} {% block title %} Welcome to MovieDB {% endblock %} {% block body %}
<div style="width:320px; margin:auto;">
    <form action="/login" method="post">
        <div class="row wow fadeInDown">
            <div class="md-form">
                <input style="color:white;" name="user_name" id="user_name" type="text" class="validate" value="{{
          request.form.user_name }}">
                <label for="user_name">User Name</label>
            </div>
        </div>
        <div class="row wow fadeInDown">
            <div class="md-form">
                <input style="color:white;" name="email" id="email" type="email" class="validate" value="{{
          request.form.email }}">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <button style="width:160px;" type="submit" class="btn btn-mdb waves-effect wow fadeInLeft" value="Login">LOGIN</button>
            <a style="width:160px;" href={{ url_for( 'registerPage')}} class="btn btn-mdb waves-effect  wow fadeInRight">REGISTER</a>
        </div>
    </form>
</div>
{% if error %}
<p style="color:red;">
    <strong>Error:</strong> {{ error }}
</p>
{% endif %}

{% endblock %}
