{% extends "index.html" %} {% block title %} Welcome to MovieDB {% endblock %} {% block body %}
<form action="/register" method="post">
    <div style="width:320px; margin:auto;">
        <div class="row wow fadeInDown ">
            <div class="md-form">
                <input style="color:white;" name="first_name" id="first_name" type="text" value="{{request.form.first_name }}">
                <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="md-form">
                <input style="color:white;" name="last_name" id="last_name" type="text" value="{{request.form.last_name }}">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="md-form">
                <input style="color:white;" name="email" id="email" type="email" value="{{request.form.email }}">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="md-form">
                <input style="color:white;" name="gender" id="gender" type="text" value="{{request.form.gender }}">
                <label for="gender">Gender(M/F)</label>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <a style="width:160px;" class="btn btn-mdb waves-effect" href="{{url_for('login')}}">LOGIN</a>
            <button style="width:160px;" type="submit" class="btn btn-mdb waves-effect" value="Register">REGISTER</button>
        </div>
    </div>
</form>

{% if error %}
<p style="color:red;">
    <strong>Error:</strong> {{ error }}
</p>
{% endif %}

 {% endblock %}
